h1 {
    font-family: utopia-std-headline,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #5C4033;

}
.logo {
    margin-right: 20px;
    padding-top: 10px;
    position: absolute;
    top: 10px;
    left: 20px;
}
header{
    align-content: center;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.inline-block {
    display: inline;
    /* margin: 0; */
    height: 80px;
    align-content: center;

}
.nav {
    height: 80px;
    align-content: center;
}
.navItem {
    text-decoration: none;
    color: darkslategray;
}

a {
    color: darkslategray;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.jumbotron-fluid {
    background-color: #FFCC3B ;
    padding: 100px 30px 100px 30px;
}

.col-6 {
   padding-top: 15px;
   padding-bottom: 15px;
}